* {
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
  Verdana, sans-serif
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}
body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex; 
  width: 100vw;
  height: 100vh; 
  justify-content: center;
  align-items: center; 
  background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.container {
  width: 450px;
  height: min-content;
  background-color: rgb(226, 79, 165);
  border-radius: 15px;
  padding: 10px;
  box-shadow:  3px 2px 19px -6px rgba(0,0,0,0.75);
}

.question-container {
  width: 450px;
  height: 800px;
  background-color: rgb(226, 79, 165);
  border-radius: 15px;
  padding: 10px;
  box-shadow:  3px 2px 19px -6px rgba(0,0,0,0.75);
}


#question {
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
  
 
}
.singapore {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Zen Antique Soft', serif;

}
.btn-grid {
  display: grid;
  padding: 10px;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #545E75;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10%;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #F4E04D;
  color: #000000;
}


.controls {
  display: grid; 
  justify-content: space-evenly; 
  align-content: start;
}

.hide {
  display: none;
}

img {
 max-width: 100%;
 padding-top: 20px;
 border-radius: 25px;
  
}